<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
     h1 {
        text-align: center;
        font-size: 60px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(80, 80, 200);
        }

     h2 {
        text-align: center;
        font-size: 30px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(100, 100, 255);
        }

     #banner{
            width: 100%;
            height: 400;
            px;
            object-fit: cover;
        }

    </style>
</head>
<body>
<h1>Principal</h1>
<img id="banner" height="600px" src="{{url_for('static', filename='carreira.jpg')}}"/>
<h2>Sobre</h2>
<p>
    Ser um desenvolvedor Python é uma carreira promissora
    no mundo da tecnologia. Com uma alta demanda por suas
    habilidades e uma faixa salarial competitiva, esses
    profissionais desempenham um papel crucial no
    desenvolvimento e manutenção de tecnologias que impulsionam
    a inovação em diversos setores.
</p>
<h2>Vagas Abertas</h2>
<button>Entrar em Contato</button>
</body>
</html>