<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SISTEMA WEB</title>
</head>
<body>
<h1 style="text-align: center"> Adicionando dados em dicionario </h1>
<hr>
    {% for registro in registros: %}
        <details>
          <summary>{{registro.aluno}}</summary>
          <p>{{registro.nota}}</p>
        </details>
    {% endfor %}
    <form action="{{url_for('sobre')}}" method="POST">
        <label>Aluno</label>
        <input type="text" name="aluno" required>
        <label>Nota</label>
        <input type="text" name="nota" required>
        <button>Adicionar</button>
    </form>
</body>
</html>