{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de Cursos</h2>
<hr>
<a href="{{url_for('cria_curso')}}" class="btn btn-secondary">Adicionar Curso</a>
<br><br>
<table class="table table-bordered table-hover">
	<thead class="table-dark">
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">Nome</th>
	      <th scope="col">Descrição</th>
	      <th scope="col">CH</th>
	      <th scope="col">Ações</th>
	    </tr>
  </thead>
  <tbody>
	{% for curso in cursos.items %}
		<tr>
			<td>{{curso.id}}</td>
			<td>{{curso.nome}}</td>
			<td>{{curso.descricao}}</td>
			<td>{{curso.ch}}</td>
			<td>
				<a href="{{curso.id}}/atualiza_curso" class="btn btn-secondary btn-xs">Editar</a>
				<a href="{{curso.id}}/remove_curso" onclick="return confirm('Deseja excluir esse registro?')" class="btn btn-danger btn-xs">Excluir</a>
			</td>
		</tr>
	{% endfor %}

  </tbody>
</table>
{% if cursos.has_prev %}
	<a href="{{url_for('lista_cursos', page=cursos.prev_num)}}">Cursos Anteriores</a>
{% else %}
	Cursos listados
{% endif %}
{% if cursos.has_next %}
	<a href="{{url_for('lista_cursos', page=cursos.next_num)}}">Próximos Cursos</a>
{% else %}
	Cursos listados
{% endif %}
{% endblock conteudo %}